<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Rate Like a Muse</title>
  <link rel="stylesheet" href="style.css" />
</head>
<body class="image-background">
  
  <div class="container">
    <h1>Rate Like a Muse</h1>
    <!-- Descrição -->
    <p class="description">
      Avalie os filmes indicados ao Oscar 2024 com notas de 1 a 5 estrelas. Crie seu perfil, registre suas avaliações e acompanhe os favoritos do público.
    </p>

    <!-- Seções de login-->
    <div class="form-sections">
      <!-- Login -->
      <section class="form-block">
        <h2 class="section-title">Login</h2>
        <form class="form">
          <label class="label" for="login-usuario">Usuário</label>
          <input class="input" type="text" id="login-usuario" placeholder="Seu usuário" />

          <label class="label" for="login-senha">Senha</label>
          <input class="input" type="password" id="login-senha" placeholder="Sua senha" />

          <button class="btn" type="submit">Entrar</button>
        </form>
      </section>

      <!-- Cadastro -->
      <section class="form-block">
        <h2 class="section-title">Cadastrar</h2>
        <form class="form">
          <label class="label" for="cadastro-usuario">Usuário</label>
          <input class="input" type="text" id="cadastro-usuario" placeholder="Escolha um usuário" />

          <label class="label" for="cadastro-senha">Senha</label>
          <input class="input" type="password" id="cadastro-senha" placeholder="Crie uma senha" />

          <button class="btn btn-register" type="submit">Cadastrar</button>
        </form>
      </section>
      </div>
  </div>
  <script>
  // Login
        document.querySelector('.form-sections').addEventListener('submit', function (e) {
          e.preventDefault();

          const form = e.target;
          const userInput = form.querySelector('input[type="text"]');
          const senhaInput = form.querySelector('input[type="password"]');

          const usuario = userInput.value.trim();
          const senha = senhaInput.value.trim();

          if (usuario && senha) {
            // Salva nome e senha (só para simulação, não seguro em produção)
            localStorage.setItem('usuarioLogado', usuario);

            // Redireciona para página de filmes
            window.location.href = 'movies.html';
          }
        });
</script>
</body>
</html>
